# Site
name: 'Mundana'
description: 'Mundana is a free Jekyll theme for awesome people like you, Medium like.'
logo: 'assets/images/logo.png'
favicon: 'assets/images/favicon.ico'
baseurl: ''
disqus: 'demowebsite'
email: 'wowthemesnet@gmail.com'
mailchimp-list: 'https://wowthemes.us11.list-manage.com/subscribe/post?u=8aeb20a530e124561927d3bd8&amp;id=8c3d2d214b'
  #domain: http://diffstack.github.io       # if you want to force HTTPS, specify the domain without the http at the start, e.g. example.com
  #url: https://diffstack.github.io  # the base hostname and protocol for your site, e.g. http://example.com
include: ["_pages"]
permalink: /:title/

# Plugins
plugins: 
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-seo-tag
  
authors:
    poonam:
      name:           Poonam
      site:           https://www.diffstack.co
      avatar:         assets/images/avatar1.jpg
      bio:            "Hi, I am Poonam, the author of diffstack, the stack you're currently previewing. I hope you like it!"
      email:          poonamagarwal01@outlook.com
      twitter:        https://twitter.com/_agarwal_poonam

    himanshu:
      name:           Himanshu
      site:           https://www.diffstack.co
      avatar:         assets/images/avatar2.jpg
      bio:            ""
      email:          <>
      twitter:        https://twitter.com/<>
 
# Defaults
defaults:

  # all posts
  - scope:
      path: "_posts"
    values:
      layout: post
      author: poonam
      avatar: assets/images/avatar1.jpg
      
  # all pages
  - scope:
      path: "_pages"
    values:
      layout: page
      
# Syntax
markdown: kramdown
highlighter: rouge

# Paginate
paginate: 10



# Exclude metadata and development time dependencies (like Grunt plugins)
exclude: [README.markdown, package.json, grunt.js, Gruntfile.js, Gruntfile.coffee, node_modules]
